/venv
/static
/priv
/db.sqlite3
/node_modules
/vdv-certs
/uic-data
/rsp-data
/ft-data
/iata-data
__pycache__
.keyHash
tickeos.py
parsed_licenses.lcs
media/
.git_hash
.DS_Store
/.devenv
/.direnv
/dtvg-certs
main/management/commands/dticket-fraud.py
data/sz
scripts/convert-sz-data.py
scripts/download-oebb-keys.py