{% extends "main/base.html" %}
{% load static crispy_forms_tags rics i18n %}

{% block title %}{% trans "Account" %}{% endblock title %}

{% block content %}
    <div class="govuk-width-container">
        <a href="{% url 'index' %}" class="govuk-back-link">{% trans "Back" %}</a>
        <h1 class="govuk-heading-xl">{% trans "My Account" %}</h1>
        <a class="govuk-button" href="{% url 'account_edit' %}">{% trans "Edit" %}</a>
        <a class="govuk-button" href="{% url 'account_set_password' %}">{% trans "New password" %}</a>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "Forename" %}</dt>
                <dd class="govuk-summary-list__value">{{ user.first_name }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "Surname" %}</dt>
                <dd class="govuk-summary-list__value">{{ user.last_name }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "Email" %}</dt>
                <dd class="govuk-summary-list__value">{{ user.email }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "DB Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_db_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'db_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'db' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button" href="{% url 'db_login' %}">{% trans "Login with DB" %}</a>
                        <p class="govuk-body-s">
                            {% blocktrans trimmed %}
                                Logging in with DB isn't required for subscription tickets,
                                or adding tickets via booking number.
                            {% endblocktrans %}
                        </p>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "BahnBonus Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_bahnbonus_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'bahnbonus_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'bahnbonus' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button" href="{% url 'bahnbonus_login' %}">{% trans "Login with DB" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">DB</dt>
                <dd class="govuk-summary-list__value">
                    <a class="govuk-button" href="{% url 'db_add_ticket' %}">{% trans "Add ticket" %}</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "S-Bahn Berlin Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_sbahn_berlin_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'sbahn_berlin_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'sbahn_berlin' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button"
                           href="{% url 'sbahn_berlin_login' %}">{% trans "Login with S-Bahn Berlin" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "MVV Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_mvv_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'mvv_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'mvv' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button" href="{% url 'mvv_login' %}">{% trans "Login with MVV" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "AVV Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_avv_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'avv_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'avv' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button" href="{% url 'avv_login' %}">{% trans "Login with AVV" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "SaarVV Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_saarvv_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'saarvv_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'saarvv' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button" href="{% url 'saarvv_login' %}">{% trans "Login with SaarVV" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "DB Regio NRW Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_nrway_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'nrway_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'nrway' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button" href="{% url 'nrway_login' %}">{% trans "Login with DB" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "Vestische Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_vestische_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'vestische_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'vestische' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button"
                           href="{% url 'vestische_login' %}">{% trans "Login with Vestische" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "Raileasy Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_raileasy_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'raileasy_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'raileasy' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button" href="{% url 'raileasy_login' %}">{% trans "Login with Raileasy" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "HVV Account" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if user.account.is_hvv_authenticated %}
                        <div class="govuk-button-group">
                            <a class="govuk-button govuk-button--secondary"
                               href="{% url 'hvv_login' %}">{% trans "Reauthenticate" %}</a>
                            <a class="govuk-button govuk-button--warning"
                               href="{% url 'oauth_logout' 'hvv' %}">{% trans "Unlink" %}</a>
                        </div>
                    {% else %}
                        <a class="govuk-button" href="{% url 'hvv_login' %}">{% trans "Login with HVV Switch" %}</a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">SNCB/NMBS</dt>
                <dd class="govuk-summary-list__value">
                    <a class="govuk-button" href="{% url 'sncb_add_ticket' %}">{% trans "Add ticket" %}</a>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-l">
            {% trans "Alternate Name Expansions" %}
            <a class="govuk-button" href="{% url 'account_new_alternate_expansion' %}">{% trans "New" %}</a>
        </h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{% trans "Forename" %}</th>
                <th scope="col" class="govuk-table__header">{% trans "Surname" %}</th>
                <th scope="col" class="govuk-table__header">{% trans "Email" %}</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% if user.account.alternate_expansions.count %}
                {% for ae in user.account.alternate_expansions.all %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{% if ae.forename %}{{ ae.forename }}{% endif %}</td>
                        <td class="govuk-table__cell">{% if ae.surname %}{{ ae.surname }}{% endif %}</td>
                        <td class="govuk-table__cell">{% if ae.email %}{{ ae.email }}{% endif %}</td>
                        <td class="govuk-table__cell">
                            <form action="{% url 'account_delete_alternate_expansion' ae.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-0">{% trans "Delete" %}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="4">{% trans "No alternate expansions" %}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <h2 class="govuk-heading-l">{% trans "Tickets" %}</h2>
        {% if tickets.count %}
            <p class="govuk-body">
                {% trans "Subscribe to your trains as a calendar:" %}<br/>
                <small><code>{{ calendar_url }}</code></small>
            </p>
            <ul class="govuk-list govuk-list--spaced">
                {% for ticket in tickets.all %}
                    <li>
                        <a href="{% url 'ticket' ticket.pk %}" class="govuk-link">
                            {% if ticket.label %}
                                {{ ticket.label }} (#{{ ticket.public_id }})
                            {% else %}
                                #{{ ticket.public_id }} - {{ ticket.get_ticket_type_display }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="govuk-body">No tickets</p>
        {% endif %}
    </div>
{% endblock %}