<h2 class="govuk-heading-m">VOR Products</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value"><code>{{ vor.currency }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Partner ID</dt>
        <dd class="govuk-summary-list__value"><code>{{ vor.partner_id }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Products</dt>
        <dd class="govuk-summary-list__value">
            {% for product in vor.products %}
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Product <code>{{ product.product_id }}</code>
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Product code</dt>
                                <dd class="govuk-summary-list__value"><code>{{ product.product_code }}</code></dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Count</dt>
                                <dd class="govuk-summary-list__value">{{ product.count }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            {% endfor %}
        </dd>
    </div>
</dl>