<h2 class="govuk-heading-m">VOR Passenger data</h2>
<dl class="govuk-summary-list">
    {% if vor.contract_id %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Contract ID</dt>
            <dd class="govuk-summary-list__value"><code>{{ vor.contract_id }}</code></dd>
        </div>
    {% endif %}
    {% if vor.customer_id %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Customer ID</dt>
            <dd class="govuk-summary-list__value"><code>{{ vor.customer_id }}</code></dd>
        </div>
    {% endif %}
    {% if vor.title %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Title</dt>
            <dd class="govuk-summary-list__value">{{ vor.title }}</dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Forename</dt>
        <dd class="govuk-summary-list__value">{{ vor.forename }}</dd>
    </div>
    {% if vor.middle_name %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Title</dt>
            <dd class="govuk-summary-list__value">{{ vor.middle_name }}</dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Surname</dt>
        <dd class="govuk-summary-list__value">{{ vor.surname }}</dd>
    </div>
    {% if vor.suffix %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Suffix</dt>
            <dd class="govuk-summary-list__value">{{ vor.suffix }}</dd>
        </div>
    {% endif %}
    {% if vor.date_of_birth %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date of Birth</dt>
            <dd class="govuk-summary-list__value">{{ vor.date_of_birth|date:"F d, Y" }}</dd>
        </div>
    {% endif %}
    {% if vor.gender %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Gender</dt>
            <dd class="govuk-summary-list__value">{{ vor.gender.name }}</dd>
        </div>
    {% endif %}
    {% if vor.id_document_type %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">ID Document Type</dt>
            <dd class="govuk-summary-list__value">{{ vor.id_document_type }}</dd>
        </div>
    {% endif %}
    {% if vor.id_document_number %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">ID Document Number</dt>
            <dd class="govuk-summary-list__value">{{ vor.id_document_number }}</dd>
        </div>
    {% endif %}
</dl>