{% load rics i18n %}

<h2 class="govuk-heading-m">{% trans "Security" %}</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Barcode version" %}</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.envelope.version }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Issuer RICS" %}</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.envelope.issuer_rics }}</code></dd>
    </div>
    {% with org=ticket.envelope.issuer %}
        {% if org %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans "Issuer" %}</dt>
                <dd class="govuk-summary-list__value">
                    {% include 'main/rics.html' with org=org %}
                </dd>
            </div>
        {% endif %}
    {% endwith %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Signature key ID" %}</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.envelope.signature_key_id }}</code></dd>
    </div>
    {% if ticket.envelope.can_verify %}
        {% with cert=ticket.envelope.signing_cert %}
            {% if cert %}
                {% include "main/uic/cert.html" with cert=cert %}
            {% endif %}
        {% endwith %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Signature verification" %}</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.envelope.verify_signature %}
                    <strong class="govuk-tag govuk-tag--green">{% trans "Valid" %}</strong>
                {% else %}
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            {% trans "Signature verification failed, this is likely a forged ticket" %}
                        </strong>
                    </div>
                {% endif %}
            </dd>
        </div>
    {% else %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Signing key" %}</dt>
            <dd class="govuk-summary-list__value">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        {% trans "Unknown signing key, can't verify ticket" %}
                    </strong>
                </div>
            </dd>
        </div>
    {% endif %}
</dl>

{% if ticket.data.type == "IRT" %}
    {% include "main/ssb/irt.html" %}
{% elif ticket.data.type == "NRT" %}
    {% include "main/ssb/nrt.html" %}
{% elif ticket.data.type == "GRT" %}
    {% include "main/ssb/grt.html" %}
{% elif ticket.data.type == "PASS" %}
    {% include "main/ssb/pass.html" %}
{% elif ticket.data.type == "NS_KC" %}
    {% include "main/ssb/ns_kc.html" %}
{% elif ticket.data.type == "SZ_TK" %}
    {% include "main/ssb/sz.html" %}
{% elif ticket.data.type == "CD" %}
    {% include "main/ssb/cd.html" %}
{% endif %}
