{% load rics protobuf tz i18n %}
{% localtime off %}
    <h2 class="govuk-heading-m">Security</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Signing RICS</dt>
            <dd class="govuk-summary-list__value">
                {{ ticket.data.ticket.key_meta.rics }}
            </dd>
        </div>
        {% with org=ticket.data.issuer %}
            {% if org %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Issuer</dt>
                    <dd class="govuk-summary-list__value">
                        {% include 'main/rics.html' with org=org %}
                    </dd>
                </div>
            {% endif %}
        {% endwith %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Key ID</dt>
            <dd class="govuk-summary-list__value">
                {{ ticket.data.ticket.key_meta.key_id }}
            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">Metadata</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Specification version</dt>
            <dd class="govuk-summary-list__value">
                {{ ticket.data.ticket.metadata.version }}
            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">SwissPass Ticket Data</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Ticket ID</dt>
            <dd class="govuk-summary-list__value">
                {{ ticket.data.ticket.ticket_data.ticket_id }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Tariff</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Product</dt>
                        <dd class="govuk-summary-list__value">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Language</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if ticket.data.ticket.ticket_data.tariff.product.language == 1 %}
                                            German
                                        {% elif ticket.data.ticket.ticket_data.tariff.product.language == 2 %}
                                            French
                                        {% elif ticket.data.ticket.ticket_data.tariff.product.language == 3 %}
                                            Italian
                                        {% elif ticket.data.ticket.ticket_data.tariff.product.language == 4 %}
                                            English
                                        {% endif %}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Name</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ ticket.data.ticket.ticket_data.tariff.product.name }}
                                    </dd>
                                </div>
                            </dl>
                        </dd>
                    </div>
                    {% if ticket.data.ticket.ticket_data.tariff.departure_station %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">From station</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.tariff.departure_station }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.ticket.ticket_data.tariff.arrival_station %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">To station</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.tariff.arrival_station }}
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Travel class</dt>
                        <dd class="govuk-summary-list__value">
                            {% if ticket.data.ticket.ticket_data.tariff.travel_class == 1 %}
                                First
                            {% elif ticket.data.ticket.ticket_data.tariff.travel_class == 2 %}
                                Second
                            {% elif ticket.data.ticket.ticket_data.tariff.travel_class == 3 %}
                                Class upgrade
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Journey type</dt>
                        <dd class="govuk-summary-list__value">
                            {% if ticket.data.ticket.ticket_data.tariff.journey_type == 1 %}
                                One-way
                            {% elif ticket.data.ticket.ticket_data.tariff.journey_type == 2 %}
                                Return half
                            {% elif ticket.data.ticket.ticket_data.tariff.journey_type == 3 %}
                                Round-trip
                            {% endif %}
                        </dd>
                    </div>
                    {% if ticket.data.ticket.ticket_data.tariff.route %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Routes</dt>
                            <dd class="govuk-summary-list__value">
                                <ul class="govuk-list govuk-list--bullet">
                                    {% for r in ticket.data.ticket.ticket_data.tariff.route %}
                                        <li>{{ r }}</li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Valid from</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.valid_from|date:"F d, Y H:i:s e" }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Valid to</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.valid_until|date:"F d, Y H:i:s e" }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Product number</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.ticket.ticket_data.tariff.product_number }}
                        </dd>
                    </div>
                    {% if ticket.data.ticket.ticket_data.tariff.zones %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Zones</dt>
                            <dd class="govuk-summary-list__value">
                                {% for zone in ticket.data.ticket.ticket_data.tariff.zones %}
                                    <div class="govuk-summary-card">
                                        <div class="govuk-summary-card__title-wrapper">
                                            <h2 class="govuk-summary-card__title">Zone #{{ forloop.counter }}</h2>
                                        </div>
                                        <div class="govuk-summary-card__content">
                                            <dl class="govuk-summary-list">
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">All zones</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {% if zone.all_zones %}
                                                            <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
                                                        {% else %}
                                                            <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">Zone ID</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {{ zone.zone_id }}
                                                    </dd>
                                                </div>
                                                {% with org=zone.zone_org|swisspass_org_id %}
                                                    {% if org %}
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">Organisation</dt>
                                                            <dd class="govuk-summary-list__value">
                                                                {{ org.short_name }} - {{ org.name }}
                                                                (<code>{{ zone.zone_org }}</code>)
                                                            </dd>
                                                        </div>
                                                    {% else %}
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">Organisation ID</dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <code>{{ zone.zone_org }}</code>
                                                            </dd>
                                                        </div>
                                                    {% endif %}
                                                {% endwith %}
                                            </dl>
                                        </div>
                                    </div>
                                {% endfor %}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.ticket.ticket_data.tariff.tariff %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Tariff</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.tariff.tariff }}
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reduced tariff</dt>
                        <dd class="govuk-summary-list__value">
                            {% if ticket.data.ticket.ticket_data.tariff.reduced_tariff %}
                                <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Night surcharge</dt>
                        <dd class="govuk-summary-list__value">
                            {% if ticket.data.ticket.ticket_data.tariff.night_surcharge %}
                                <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
                            {% endif %}
                        </dd>
                    </div>
                    {% if ticket.data.ticket.ticket_data.tariff.validity_type %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Validity type</dt>
                            <dd class="govuk-summary-list__value">
                                {% if ticket.data.ticket.ticket_data.tariff.validity_type == 1 %}
                                    Space and time
                                {% elif ticket.data.ticket.ticket_data.tariff.validity_type == 2 %}
                                    Validation stamp required
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.ticket.ticket_data.tariff.route_type %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Route type</dt>
                            <dd class="govuk-summary-list__value">
                                {% if ticket.data.ticket.ticket_data.tariff.route_type == 1 %}
                                    Undefined
                                {% elif ticket.data.ticket.ticket_data.tariff.route_type == 2 %}
                                    Route ticket
                                {% elif ticket.data.ticket.ticket_data.tariff.route_type == 3 %}
                                    Zonal ticket
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                </dl>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Traveller</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    {% if ticket.data.ticket.ticket_data.traveler.customer_number %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Customer ID</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.traveler.customer_number }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.ticket.ticket_data.traveler.swisspass_id %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">SwissPass ID</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.traveler.swisspass_id }}
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Forename</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.ticket.ticket_data.traveler.forename }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Surname</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.ticket.ticket_data.traveler.surname }}
                        </dd>
                    </div>
                    {% if ticket.data.ticket.ticket_data.traveler.birthday and ticket.data.traveler_birthday %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Birthday</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.traveler_birthday|date:"F d, Y H:i:s e" }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.ticket.ticket_data.traveler.mobile_number %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Mobile number</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.traveler.mobile_number }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.ticket.ticket_data.traveler.tariff %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Tariff</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.traveler.tariff }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.ticket.ticket_data.traveler.reduction %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Reduction</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.traveler.reduction }}
                            </dd>
                        </div>
                    {% endif %}
                </dl>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Sale data</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Issuing time</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.issuing_time|date:"F d, Y H:i:s e" }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Sale language</dt>
                        <dd class="govuk-summary-list__value">
                            {% if ticket.data.ticket.ticket_data.sale.language == 1 %}
                                German
                            {% elif ticket.data.ticket.ticket_data.sale.language == 2 %}
                                French
                            {% elif ticket.data.ticket.ticket_data.sale.language == 3 %}
                                Italian
                            {% elif ticket.data.ticket.ticket_data.sale.language == 4 %}
                                English
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Sale point ID</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.ticket.ticket_data.sale.sale_point }}
                        </dd>
                    </div>
                    {% with org=ticket.data.ticket.ticket_data.sale.issuing_org|swisspass_org_id %}
                        {% if org %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Organisation</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ org.short_name }} - {{ org.name }}
                                    (<code>{{ ticket.data.ticket.ticket_data.sale.issuing_org }}</code>)
                                </dd>
                            </div>
                        {% else %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Organisation ID</dt>
                                <dd class="govuk-summary-list__value">
                                    <code>{{ ticket.data.ticket.ticket_data.sale.issuing_org }}</code>
                                </dd>
                            </div>
                        {% endif %}
                    {% endwith %}
                </dl>
            </dd>
        </div>
        {% if ticket.data.ticket.ticket_data.tariffs %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Tariffs</dt>
                <dd class="govuk-summary-list__value">
                    {% for tariff in ticket.data.ticket.ticket_data.tariffs %}
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Tariff ID <code>{{ tariff.name }}</code>
                                </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Number of passengers</dt>
                                        <dd class="govuk-summary-list__value">
                                            <code>{{ tariff.passenger_count }}</code>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    {% endfor %}
                </dd>
            </div>
        {% endif %}
        {% if ticket.data.ticket.ticket_data.transport %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Transport data</dt>
                <dd class="govuk-summary-list__value">
                    {% for journey in ticket.data.ticket.ticket_data.transport %}
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Journey {{ journey.journey_number }}
                                </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                {% if journey.coach or journey.seat %}
                                    <dl class="govuk-summary-list">
                                    {% if journey.coach %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">Carriage</dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ journey.coach }}
                                            </dd>
                                        </div>
                                    {% endif %}
                                    {% if journey.seats %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">Seats</dt>
                                            <dd class="govuk-summary-list__value">
                                                <ul>
                                                    {% for seat in journey.seats %}
                                                        <li>{{ seat }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </dd>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    No seat reservation
                                    <dl class="govuk-summary-list">
                                {% endif %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Transport type</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if journey.type == 0 %}
                                            Unknown
                                        {% elif journey.type == 1 %}
                                            Railway
                                        {% elif journey.type == 2 %}
                                            Bus
                                        {% elif journey.type == 3 %}
                                            Tram
                                        {% elif journey.type == 4 %}
                                            Boat
                                        {% elif journey.type == 5 %}
                                            Mountain Railway
                                        {% endif %}
                                    </dd>
                                </div>
                                </dl>
                            </div>
                        </div>
                    {% endfor %}
                </dd>
            </div>
        {% endif %}
        {% if ticket.data.ticket.ticket_data.payment.payment_method or ticket.data.ticket.ticket_data.payment.currency %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Payment</dt>
                <dd class="govuk-summary-list__value">
                    <dl class="govuk-summary-list">
                        {% if ticket.data.ticket.ticket_data.payment.payment_method %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Method</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ ticket.data.payment_method_name }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if ticket.data.ticket.ticket_data.payment.currency %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Price</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ ticket.data.ticket.ticket_data.payment.price }}
                                    {{ ticket.data.ticket.ticket_data.payment.currency }}
                                </dd>
                            </div>
                        {% endif %}
                    </dl>
                </dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Extra data</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Fallback</dt>
                        <dd class="govuk-summary-list__value">
                            {% if ticket.data.ticket.ticket_data.extra.fallback %}
                                <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
                            {% endif %}
                        </dd>
                    </div>
                    {% if ticket.data.ticket.ticket_data.extra.extra %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Extra text</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.ticket.ticket_data.extra.extra }}
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Specimen</dt>
                        <dd class="govuk-summary-list__value">
                            {% if ticket.data.ticket.ticket_data.extra.specimen %}
                                <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
                            {% endif %}
                        </dd>
                    </div>
                </dl>
            </dd>
        </div>
    </dl>
{% endlocaltime %}