<h2 class="govuk-heading-m">Envelope Data</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.rsp_type }}</code> - {{ ticket.rsp_type_name }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Issuer</dt>
        <dd class="govuk-summary-list__value">{{ ticket.issuer_name }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">UTN</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.ticket_ref }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">UTN Data</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date of issue</dt>
                    <dd class="govuk-summary-list__value">{{ ticket.utn_data.date_of_issue|date:"F d, Y" }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Machine number</dt>
                    <dd class="govuk-summary-list__value"><code>{{ ticket.utn_data.machine_number }}</code></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Transaction number</dt>
                    <dd class="govuk-summary-list__value"><code>{{ ticket.utn_data.transaction_number }}</code></dd>
                </div>
            </dl>
        </dd>
    </div>
</dl>

{% if ticket.rsp_type == "06" %}
    {% include "main/rsp/ticket.html" with data=ticket.data %}
{% elif ticket.rsp_type == "11" %}
    {% include "main/rsp/ticket_11.html" with data=ticket.data %}
{% elif ticket.rsp_type == "08" %}
    {% include "main/rsp/railcard.html" with data=ticket.data %}
{% endif %}

<h2 class="govuk-heading-m">Raw Data</h2>
<p class="govuk-body"><code style="word-break: break-all">{{ ticket.raw_ticket_hex }}</code></p>
